{% extends 'base.html' %}

{% block title %}Guardian publishing frequency{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Guardian publishing frequency</h1>

			<blockquote>When does the Guardian publish its content</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">What is this?</h2>
			<p>A simple bar chart presentation of </p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">How do I use it?</h2>

			<ol>
				<li>See <a href="/day/{{yesterday}}">yesterday's</a> publishing data</li>
			</ol>


		</div>
	</div>
</div>

{% endblock %}
