{% extends 'base.html' %}

{% block title %}Publication by hour for {{date_string}}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Publishing history for {{date.strftime('%d/%m/%Y')}}</h1>

			<p>{{date.strftime("%A")}}; <span id="total-items">0</span> pieces published{% if production_office %}; production office: {{production_office|upper}}{% endif %}{% if section %}; section: {{section}}{% endif %}<br><em>Left/right arrows yesterday/tomorrow or {% for nav_link in navigation_links %}<em><a href="{{nav_link.url}}">{{nav_link.name}}</a></em>{% if not loop.last %}, {% endif %}{% endfor %}<br>{% for country_link in country_links %}<a href="{{country_link.link}}">{{country_link.name}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
			<div>
			<canvas id="barChart" width="800" height="400"></canvas>
			</div>
		</div>
	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.js"></script>

<script>
//Chart.defaults.global.responsive = true;

var ctx = document.getElementById("barChart").getContext("2d");

var data = {
	labels: ['0', '1'],
	datasets: [{
		data: [12,15]
	}]
};

$.ajax({
  dataType: "json",
  url: "{{api_url}}",
  success: function(data) {
  	var options = {
  		animationEasing: 'easeOutExpo'
  	};
  	var chartData = {
  		labels: data.hour_series,
  		datasets: [
  			{
		  		fillColor: '#2e3192',
		  		strokeColor: '#2e3192',
  				data: data.count_series
  			}
  		]
  	};
  	var myBarChart = new Chart(ctx).Bar(chartData, options);

  	document.getElementById("total-items").innerHTML = data.total_content;

  	document.getElementById("barChart").onclick = function(evt){
    var activeBars = myBarChart.getBarsAtEvent(evt);
    if(activeBars) {
	    //console.log(activeBars[0].label);
	    var url = '{{hour_base_path}}' + activeBars[0].label;
	    
	    {% if section %}
	    url += '?section={{section}}'
	    {% endif %}

	    window.location.assign(url);
	}
    };
  }
});

$(window).keyup(function(event){
	//alert(event.which);
	if(event.which === 39) {
		window.location.assign('{{navigation_urls.next_day}}');
	}

	if(event.which === 37) {
		window.location.assign('{{navigation_urls.previous_day}}');
	}
});

</script>
{% endblock %}
